/* Réinitialisation des styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour l'en-tête */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Styles pour le champ de saisie de tâches */
#taskInput {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Styles pour le bouton Ajouter */
#addTask {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#addTask:hover {
    background-color: #45a049;
}

/* Styles pour la liste des tâches */
#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Styles pour les boutons de la liste des tâches */
li button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.completeTask {
    background-color: #4CAF50;
    color: white;
}

.completeTask:hover {
    background-color: #45a049;
}

.deleteTask {
    background-color: #f44336;
    color: white;
}

.deleteTask:hover {
    background-color: #da190b;
}

.editTask {
    background-color: #008CBA;
    color: white;
}

.editTask:hover {
    background-color: #007bb3;
}

/* Styles pour le bouton Effacer LocalStorage */
#clearAll {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#clearAll:hover {
    background-color: #da190b;
}
